/*
KOLORYSTYKA PLIKU:
Kolor DECATHLON: #0f70b7
Kolor DECATHLON LIGHT 4: #2b9dee
Kolor DECAHTLON DARK 2: #0b578e
Kolor szary: #f2f2f2

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    min-height: 50px;
    width: 100%;
    background-color: #0f70b7;
    color: white;
    font-size: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

p{
    text-align: center;
}

#div_login{
    min-height: 50px;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 100%;
    border-radius: 20px;
    border: #0f70b7 2px solid;
}



.index_logpanel{
    border: none;
    border-bottom: solid 3px #e6e6e6;
    width: 40%;
    height: 50px;
    margin: 2% auto;
    background-color: #f2f2f2;
    transition: 0.2s;
    font-size: 200%;
    padding-left: 10px;
}

.index_logpanel:focus{
    border-bottom: solid 3px #0f70b7;
    transition: 0.2s;
}

.index_img{
    height: 70px;
    width: auto;
    padding-top: 30px;
    margin-right: 10px;
}

.index_logbutt{
    background-color: #0f70b7;
    color: white;
    border: 2px solid white;
    width: 20%;
    height: 50px;
    font-size: 150%;
    border-radius: 20px;
    cursor: pointer;
}

.index_logbutt:hover{
    background-color: white;
    color: #0f70b7;
    border: 2px solid #0f70b7;
}



#okno_background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display:none;
}

#okno_job{
    position: fixed;
    width: 80%;
    min-height: 30%;
    max-height: 80%;
    background-color: #0f70b7;
    border: solid 5px #0f70b7;
    left: 10%;
    top: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 200%;
}

#okno_dodajosobe{
	display: none;
}

#okno_chat_message{
    border: solid #0f70b7 2px;
    border-radius: 20px;
	width: 90%;
    margin: 10px auto;
    padding: 1%;
}

.okno_chat_butt{
    width:20%;
    min-height: 50px;
    color: white;
    cursor: pointer;
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    padding: 5px;
    padding-top: 15px;
    margin-left: 75%;
    transition: 0.1s;
    text-align: center;
}

.okno_chat_butt:hover{
    border: 2px solid rebeccapurple;
    background-color: white;
    color: rebeccapurple;
    transition: 0.1s;
}

.okno{
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100px;
    border-radius: 20px;
    color: black;
    font-size: 60%;
    text-align: left;
    padding-bottom: 20px;
}

.okno a{
    color: #0f70b7;
}

.okno ul{
    list-style: none;
}

.okno ul li{
    float: left;
    margin-top: 8px;
    margin-right: 5%;
    margin-left: 30px;
}

.okno ul li::before{
    content: "\2022";
    color: #0f70b7;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.okno_element{
    float: left;
    min-height: 30px;
    width: 23%;
    margin: 1%;
    background-color: #e6e6e6;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border-radius: 20px;
}

.okno_element img{
    height: 20px;
    width: auto;
    margin: 0 10px;
    margin-bottom: -2%;
}

.okno_addperson, .okno_edit, .okno_delperson, .okno_done{
    float: left;
    width:23%;
    min-height: 50px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 5px;
    padding-top: 15px;
    margin: 0 1%;
    transition: 0.1s;
}

.okno_edit{
    background-color: #ffbf00;
    border: 2px solid #ffbf00;
}

.okno_delperson{
    background-color: red;
    border: 2px solid red;
}

.okno_done{
    background-color: #0f70b7;
    border: 2px solid #0f70b7;
}

.okno_addperson:hover, .okno_edit:hover, .okno_delperson:hover, .okno_done:hover{
    border: 2px solid green;
    background-color: white;
    color: green;
    transition: 0.1s;
}

.okno_edit:hover{
    border: 2px solid #ffbf00;
    color: #ffbf00;
}

.okno_delperson:hover{
    border: 2px solid red;
    color: red;
}

.okno_done:hover{
    border: 2px solid #0f70b7;
    color: #0f70b7;
}

.okno_addperson_butt, .okno_delperson_butt, .okno_edit_butt{
    font-size: 100%;
    width:20%;
    min-height: 40px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 5px;
    padding-top: 10px;
    margin: 10px 40%;
    transition: 0.1s;
}

.okno_delperson_butt{
    background-color: red;
    border: 2px solid red;
}

.okno_edit_butt{
    background-color: #ffbf00;
    border: 2px solid #ffbf00;
}

.okno_addperson_butt:hover, .okno_delperson_butt:hover, .okno_edit_butt:hover{
    border: 2px solid green;
    background-color: white;
    color: green;
    transition: 0.1s;
}

.okno_delperson_butt:hover{
    border: 2px solid red;
    color: red;
}

.okno_edit_butt:hover{
    border: 2px solid #ffbf00;
    color: #ffbf00;
}



#div_aktualne{
    clear: both;
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
}

.job, .job_red, .job_yellow{
    float: left;
    margin: 0 auto;
    width: 19%;
    height: auto;
    margin: 0.5%;
    color: white;
    border: solid 2px #0f70b7;
    border-radius: 20px;
    background-color: #0f70b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding-top: 10px;
}

.job_red{
    border: solid 2px red;
    background-color: red;
}

.job_yellow{
    border: solid 2px #ffbf00;
    background-color: #ffbf00;
}

.job_title{
    padding-top: 5px;
    font-size: 120%;
}

.job_title:hover{
    cursor: pointer;
}

.job_topic{
    color: black;
    text-shadow: none;
    padding: 20px;
    padding-bottom: 5px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px #0f70b7;
}

.job_red .job_topic{
    border: solid 1px red;
}

.job_red .job_topic:hover{
    border: solid 1px red;
}

.job_yellow .job_topic{
    border: solid 1px #ffbf00;
}

.job_yellow .job_topic:hover{
    border: solid 1px #ffbf00;
}

.job_topic_justbg{
    background-color: #0f70b7;
    border-radius: 20px;
    transition: 0.1s;
}

.job_button{
    margin: 5px auto;
    width: 100%;
    background-color: #0f70b7;
    cursor: pointer;
    border: none;
    transition: 0.1s;
    border-radius: 20px;
    color: white;
    height: 30px;
    font-size: 100%;
    text-shadow: 1px 1px 1px black;
    padding-bottom: -5px;
}

.job_red .job_button{
    background-color: red;
}

.job_yellow .job_button{
    background-color: #ffbf00;
}

.job_button:hover{
    transition: 0.1s;
    font-size: 120%;
    font-weight: 800;
}

.job_small_info{
    float: left;
    background-color: #e6e6e6;
    width: 22%;
    min-height: 20px;
    margin: 1%;
    margin-bottom: 2%;
    padding: 2%;
    margin-top: -15px;
    border-radius: 20px;
    font-size: 80%;
}

.job_small_info_plus{
    float: left;
    background-color: #e6e6e6;
    min-width: 49%;
    min-height: 20px;
    margin: 1%;
    margin-bottom: 2%;
    padding: 2%;
    margin-top: -15px;
    border-radius: 20px;
    font-size: 80%;
}

.job_small_info img, .job_small_info_plus img{
    height: 16px;
    width: auto;
    margin-left: -10px;
    margin-right: 5px;
    margin-bottom: -2%;
}

.job_info{
    clear: both;
    width: 100%;
    min-height: 40px;
    font-size: 100%;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 13%;
}



#div_nadane{
    clear: both;
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
}



#new_job_forwho{
    width: 98%;
    margin: 10px auto;
    min-height: 10px;
}

.new_job_dzial_butt{
    padding: 10px;
    border-radius: 20px;
    background-color: #0f70b7;
    border: #0f70b7 solid 2px;
    color: white;
    font-size: 80%;
    transition: 0.1s;
    cursor: pointer;
}

.new_job_dzial_butt:hover{
    background-color: white;
    border: #0f70b7 solid 2px;
    color: #0f70b7;
    transition: 0.1s;
}

.new_job_butt{
    font-size: 100%;
    width:20%;
    min-height: 40px;
    color: white;
    cursor: pointer;
    background-color: #0f70b7;
    border: 2px solid #0f70b7;
    border-radius: 20px;
    padding: 5px;
    padding-top: 10px;
    margin: 10px 40%;
    transition: 0.1s;
}

.new_job_butt:hover{
    border: 2px solid #0f70b7;
    background-color: white;
    color: #0f70b7;
    transition: 0.1s;
}



#nav{
    width: 250px;
    height: 100%;
    background-color: #0f70b7;
    overflow-y: auto;
    overflow-x: hidden;
}

#nav_handle{
    width: 20%;
    float: left;
}

#nav_handle img{
    padding-top: 1%;
    float: left;
    height: 50px;
    width: auto;
    margin-left: 10%;
    cursor: pointer;
}

#nav_link{
    clear: both;
    position: relative;
    background-color: #0f70b7;
    width: 100%;
    height: 50px;
    font-size: 120%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: 0.1s;
}

#nav_link:hover{
    background-color: #0b578e;
    transition: 0.1s;
}

#nav_profile{
    padding-top: 10px;
    min-height: 200px;
    width: 100%;
    font-size: 150%;
    background-color: #0b578e;
}

#nav_profile img{
    height: 150px;
    width: 150px;
    margin: 0 50px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: #e6e6e6;
}

#nav_background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display:none;
}



.done_job_job:hover{
    cursor: default;
}

.done_job_backbutton{
    float: left;
    width:98%;
    min-height: 50px;
    color: white;
    cursor: pointer;
    background-color: #0f70b7;
    border: 2px solid #0f70b7;
    border-radius: 20px;
    padding: 5px;
    padding-top: 15px;
    margin: 0 1%;
    transition: 0.1s;
}

.done_job_backbutton:hover{
    background-color: white;
    border: 2px solid #0f70b7;
    color: #0f70b7;
    transition: 0.1s;
}



.profile_panel{
    width: 98%;
    min-height: 200px;
    background-color: #e6e6e6;
    border-radius: 20px;
    margin: 10px auto;
}



body{
    background-color: #f2f2f2;
}

#div_panel{
    float: left;
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding-top: 20px;
}

#new_job, #sort, #done_job{
    float: left;
    width:31%;
    min-height: 50px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 5px;
    padding-top: 15px;
    margin: 0 1%;
    transition: 0.1s;
}

#new_job:hover, #sort:hover, #done_job:hover{
    border: 2px solid green;
    background-color: white;
    color: green;
    transition: 0.1s;
}

#sort:hover{
    border: 2px solid orange;
    color: orange;
}

#sort{
    background-color: orange;
    border: 2px solid orange;
}

#done_job:hover{
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
}

#done_job{
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
}

#alert{
    clear: both;
    color: red;
}

#thrash{
    display: none;
}

h2{ 
    padding: 10px;
    padding-left: 30px;
    color: #0f70b7;
    text-align: center;
}



.hidden::-webkit-scrollbar {
    width: 0px;
}

/* width */
.normal::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0f70b7; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b578e; 
}



    @media screen and (min-width: 1401px){
    .job:nth-child(5n+2)
    {
        clear: both;
    }
    
    }

    @media screen and (min-width: 1001px) and (max-width: 1400px){
    .job:nth-child(4n+2){
        clear: both;
    }
            
    .job{
        width: 24%;
    }
    }
    
    @media screen and (min-width: 801px) and (max-width: 1000px){
    .job:nth-child(3n+2){
        clear: both;
    }
        
    .job{
        width: 32%;
    }

    .okno_element{
        width: 98%;
    }
    .okno_element img{
        margin-bottom: 0;
    }
    }
    
    @media screen and (min-width: 401px) and (max-width: 800px){
    .job:nth-child(2n+2){
        clear: both;
    }
    
    .job{
        width: 49%;
    }

    .okno_element{
        width: 98%;
    }

    .okno_element img{
        margin-bottom: 0;
    }
    }
    
    @media screen and (max-width: 400px){
    .job:nth-child(n){
         clear: both;
    }
    
    .job{
        width: 99%;
    }

    .okno_element{
        width: 98%;
    }

    .okno_element img{
        margin-bottom: 0;
    }
    }