*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    min-height: 50px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

p{
    text-align: center;
}

#div_login{
    min-height: 50px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}



#okno_background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display:none;
}

#okno_job{
    position: fixed;
    width: 80%;
    min-height: 30%;
    max-height: 80%;
    background-color: white;
    left: 10%;
    top: 10%;
    overflow-y: auto;
    padding: 10px;
}

#okno_dodajosobe{
	display: none;
}

#okno_chat_message{
	border: solid dodgerblue 2px;
	width: 90%;
    margin: 10px auto;
    padding: 1%;
}



#div_aktualne{
    clear: both;
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
}

.job{
    float: left;
    margin: 0 auto;
    width: 19%;
    height: auto;
    margin: 0.5%;
    color: black;
    border: solid 1px dodgerblue;
    font-size: 80%;
}

.job_topic{
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
}

.job_button{
    width: 100%;
}

#job_span_nonim{
    font-size: 10px;
    color: gray;
}



#div_nadane{
    clear: both;
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
}



#div_done, #done{
    clear: both;
    border: solid 2px dodgerblue;
    width: 92%;
    min-height: 50px;
    margin: 0 auto;
}

#div_done{
    cursor: pointer;
}

#done{
    display: none;
    margin-bottom: 5%;
}



#new_job_forwho{
    width: 98%;
    margin: 10px auto;
    min-height: 10px;
}



#div_panel{
    float: left;
    width: 50%;
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

#sort{
	clear: both;
	color: orange;
}

#sort:hover{
	cursor: pointer;
}

#alert{
    clear: both;
    color: red;
}

#logout{
    font-size: 20px;
    text-decoration: none;
    color: red;
    margin: 0 auto;
}

#thrash{
    display: none;
}

#new_job{
    color: green;
    cursor: pointer;
}

h2{ 
    padding: 10px;
    padding-left: 30px;
    color: dodgerblue;
}





@media screen and (min-width: 1001px){
.job:nth-child(5n+2)
{
    clear: both;
}

}

@media screen and (min-width: 701px) and (max-width: 1000px){
.job:nth-child(3n+2){
    clear: both;
}
    
.job{
    width: 32%;
}
}

@media screen and (min-width: 401px) and (max-width: 700px){
.job:nth-child(2n+2){
    clear: both;
}

.job{
    width: 49%;
}
}

@media screen and (max-width: 400px){
.job:nth-child(n){
     clear: both;
}

.job{
    width: 99%;
}
}